.menu-list__link {
   color: $mainTitleColor;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   margin-top: 32px;
   margin-bottom: 28px;
   display: block;
   border-bottom: 4px solid #fff;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &.active {
      color: $acentColor;
      border-bottom: 4px solid #2196f3;
      padding-bottom: 28px;
      margin-bottom: 0px;
   }
   &::after:hover,
   ::after:focus {
      border-bottom: 4px solid #2196f3;
   }
   &:hover,
   :focus {
      color: $acentColor;
   }
}

.header {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;
   border-bottom: 1px solid #ececec;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 15px;
   }
   @media screen and (max-width: 1200px){
      
   }
}

.logo-blue {
   color: $acentColor;
   font-family: $secondaryFont;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.1;
}

.header__logo {
   margin-right: 93px;
   display: flex;
   align-items: center;
   span {
      color: $mainTitleColor;
      letter-spacing: 0.03em;
      font-family: $secondaryFont;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.1;
   }
   @media screen and (max-width: 1000px){
      margin-right: 60px;
   }
}

.menu-list {
   display: flex;
   align-items: center;
}

.menu-list__item {
   margin-right: 50px;
   &li:last-child {
      margin-right: 0;
   }
}

.header__nav-nav {
   @media screen and (min-width: 768px){
   display: flex;
}
}
.contact {
   display: flex;
   align-items: center;
   margin-left: auto;
   color: $mainTextColor;
@media screen and (max-width: 900px){
   flex-wrap: wrap;
   margin-left: auto;
   color: $mainTextColor;
}
}


.contact-elem__link {
   display: flex;
   color: $mainTextColor;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   :focus {
      color: $acentColor;
   }
   &:hover .contact__icon {
      fill: $acentColor;
   }
   @media screen and (max-width: 900px){
      margin-bottom: 10px;
}
}
.contact__icon {
   fill: $mainTextColor;
   display: block;
   margin: auto;
   margin-right: 10px;
   margin-left: 10px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item:last-child {
   margin-left: 50px;
   @media screen and (max-width: 768px){
      margin-left: 0; 
}
}

.menu-list__link {
   @media screen and (max-width: 767px){
   display: none;
}
}

.contact {
   @media screen and (max-width: 767px){
   display: none;
}
}
.header__menu-btr{
   border: none;
   background: none;
   &:hover .menu__btr{
      fill:$acentColor;
   }
   @media screen and (min-width: 768px){
      display: none;
      
}
}
.menu__btr {
   display: flex;
    margin: 11px 2px;
    &:hover,
   :focus {
      fill: $acentColor;
}
}

.mobile-menu {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   overflow-y: auto;
   visibility: visible;
   transition: all .3s ease-out;
   background-color: #fff;
   padding: 48px 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__close {
      position: absolute;
      top: 21px;
      right: 21px;
      z-index: 1;
      &:hover,
         :focus {
            fill: $acentColor;
         }
      svg {
         width: 100%;
         max-width: 100%;
      }
      button {
         border: none;
         appearance: none;
         -webkit-appearance: none;
         box-shadow: none;
         background-color: transparent;
         &:hover,
         :focus {
            fill: $acentColor;
         }
      }
   }
   &__nav {
      margin-bottom: 40px;
   }
}