.advance {
   padding: 94px 0 50px;
}

.advance__soc-picture {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $backgraundPicture;
   border-radius: 4px;
   &:last-child {
      margin-right: 0px;
   }
   @media screen and (min-width: 480px) {
      padding: 0;
      background-color: $backgraundPicture;
      border-radius: 4px;
      height: 120px;
      margin-bottom: 30px;
   }
}
.advance__displayed {
   margin: auto;
}

.advance__list {
   max-width: 1200px;
      padding: 0 15px;
      margin: auto;
      padding-left: 0%;
      display: flex;
   @media screen and (max-width: 480px) {
      max-width: 480px;
      padding: 0;
   }
   @media screen and (max-width: 768px) {
      max-width: 768px;
      padding-left: 0%;
      margin: 0 -15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }
   @media screen and (min-width: 1200px) {
      max-width: 1200px;
      padding: 0 15px;
      margin: auto;
      padding-left: 0%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }
}

.advance__item {
   margin: 0 15px 0;
   list-style: none;
   @media screen and (min-width: 480px) {
      margin: 0 15px 0;
      list-style: none;
   }
   @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
   }
   @media screen and (min-width: 1200px) {
      width: calc(25% - 30px);
   }
}

.advance__item--title {
   padding-top: 94px;
   padding: 0;
   margin-bottom: 10px;
   font-family: $mainFont;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   @media screen and (min-width: 480px) {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

.advance__item--text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   color: $mainTextColor;
   box-sizing: border-box;
   letter-spacing: 0.03em;
   @media screen and (min-width: 1200px) {
      max-width: 270px;
   }
}
