$acentColor: #2196f3;
$mainWhite: #fff;
$mainBlack: #000;
$mainBackgroundColor: #e5e5e5;
$secondaryBackgroundColor: #2f303a;
$thirdBackgroundColor: #f5f4fa;
$mainTitleColor: #212121;
$mainTextColor: #757575;
$ButtonBeckColor: #188ce8;
$backgrauntSlider: #eeeeee;
$backgraundPicture: #f5f4fa;
$SocPicture: #afb1b8;
$clientColorLogo: #afb1b8;
$ModalButton: #188ce8;
$mainFont: 'Roboto';
$secondaryFont: 'Raleway';
